@model a_01_carApp.Models.Account

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowAllAccountDetails</title>
</head>
<body>
<br/><br/>
<p>
    @Html.ActionLink("Create New", "InsertAccount")
</p>
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ShowAllAccounts)
    {
        <tr>
            <td class="col-xs-4">
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td class="col-xs-4">
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td class="col-xs-4">
                @Html.ActionLink("View Details", "EditAccount", new {id = item.Id}) |
                @Html.ActionLink("Delete", "DeleteAccount", new {id = item.Id})
            </td>
        </tr>
    }
</table>
</body>
</html>
